<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>Nest app</h1>
    <p>
      {{ message }}
    </p>

    {{#each photos}}
      <div>
        <img src="{{url}}"><br>
      </div>
    {{/each}}

  </body>
</html>
